# glow-pytorch requirements
# Usage: pip install -r requirements.txt

# torch==1.11.0             # Install via conda
# torchvision==0.12.0       # Install via conda
pytorch-lightning==1.6.4
tensorboard==2.9.1

mmcv-full==1.5.0
numpy==1.22.3
pandas==1.4.2
scipy==1.8.1
Pillow==9.0.1
tqdm==4.64.0
opencv-python==4.5.4.60